<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">FLASK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if current_user.username %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('product.index') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              CRUD
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for('product.index') }}">Productos</a>
              <a class="dropdown-item" href="{{ url_for('category.index') }}">Categorias</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>         
        {% endif %}

      </ul>

      <ul class="navbar-nav">

        {% if current_user.username %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
             Hola: {{ current_user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Perfil</a>
              <a class="dropdown-item" href="{{ url_for('fauth.logout') }}">Logout</a>
            </div>
          </li>
        {% else %}      
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('fauth.login') }}">Login</a>
          </li>
        {% endif %}

      </ul>
    </div>
  </nav>